<div class="container-fluid" ng-app="feag">

    <div class="row">
        <!-- Page Heading -->
        <div class="col-lg-12">
            <h1 class="page-header">
                Categories <small>ABM</small>
            </h1>
            <ol class="breadcrumb">
                <li> 
                    <i class="fa fa-dashboard"></i> 
                    <a href="index.html"> Home </a>                
                </li>
                <li class="active"> <i class="glyphicon glyphicon-list"></i> Categories</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <!-- Feedback -->
        <div class="col-md-12">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"> {{alert.msg}} </alert>
        </div>
    </div>

    <div class="row">
        <!-- Page Activity -->
        <!-- new category button -->
        <div class="col-md-4">       
            <!-- button to show form -->
            <button type="button" class="btn btn-success" 
                    ng-click="editableForm.$show() ; resetNewCategoryName()" popover="Add a new category..." 
                    popover-trigger="mouseenter" popover-placement="right" 
                    ng-show="!editableForm.$visible"> <i class="fa fa-plus"></i>
            </button>
        </div>
        <!-- new category form -->
        <div class="col-md-4">
            <br/>
            <form editable-form name="editableForm" onaftersave="saveCategory($data)">
                <!-- NEW CATEGORY NAME INPUT -->
                <span editable-text="newCategory.name" e-name="name" 
                      ng-model="newCategory" onbeforesave="checkCreationName($data)"
                      e-required e-placeholder="Enter a name">
                </span>
                <!-- SUBMIT - CANCEL BUTTONS -->
                <span ng-show="editableForm.$visible">
                    <button type="submit" class="btn btn-primary" 
                            ng-disabled="editableForm.$waiting">
                        <i class="fa fa-floppy-o"></i>
                    </button>
                    <button type="button" class="btn btn-default" 
                            ng-disabled="editableForm.$waiting" 
                            ng-click="editableForm.$cancel()">
                        <i class="fa fa-times"></i>
                    </button>
                </span>
                <!-- ./SUBMIT - CANCEL BUTTONS -->
            </form>
        </div>
        <!-- SEARCH BOX -->
        <div class="col-md-4">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Search by name" ng-model="byName">
                <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
            </div>
        </div>
        <!-- ./SEARCH BOX -->
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <br/>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <tr style="font-weight: bold">
                        <td class="col-md-3"> Name</td>
                        <td class="col-md-3"> Subcategories</td>
                        <td class="col-md-3"> Actions</td>
                    </tr>
                    <tr ng-repeat="category in filteredCategories | orderBy:'id':false | filter:byName">
                        <td>
                            <!-- editable category name (text with validation) -->
                            <span editable-text="category.name" e-name="name" 
                                  e-form="rowform" onbeforesave="checkEditionName($data)" e-required> {{ category.name }} </span>
                        </td>
                        <td>
                            <span class="dropdown" dropdown ng-show="category.subcategories">
                                <a href class="dropdown-toggle" dropdown-toggle> view list </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="sub in category.subcategories"> {{sub.name}} </li>
                                </ul>
                            </span>
                        </td>
                        <td style="white-space: nowrap">
                            <!-- form -->
                            <form editable-form name="rowform" onbeforesave="updateCategory($data, category.id)" 
                                  ng-show="rowform.$visible" class="form-buttons form-inline">
                                <button type="submit" ng-disabled="rowform.$waiting" 
                                        class="btn btn-primary"> save </button>
                                <button type="button" ng-disabled="rowform.$waiting" 
                                        ng-click="rowform.$cancel()" class="btn btn-default"> cancel </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary" ng-click="rowform.$show()">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                                <button class="btn btn-danger" ng-click="launchConfirmDeleteDialog(category.id)">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                                <a class="btn btn-link" href="#/subcategories/{{category.id}}">
                                    <i class="fa fa-cog"> Edit Subcategories</i>
                            </div>
                        </td>
                    </tr>
                </table>
                <br>
                <ul class="pager ng-cloak">
                    <li> 
                        <div class="btn-group">
                            <button type="button" ng-class="{'active': itemsOnPage == 2}" 
                                    ng-click="setItemsOnPage(2)" class="btn btn-default">2</button>
                            <button type="button" ng-class="{'active': itemsOnPage == 5}" 
                                    ng-click="setItemsOnPage(5)" class="btn btn-default">5</button>
                            <button type="button" ng-class="{'active': itemsOnPage == 10}" 
                                    ng-click="setItemsOnPage(10)" class="btn btn-default">10</button>
                            <button type="button" ng-class="{'active': itemsOnPage == 15}" 
                                    ng-click="setItemsOnPage(15)" class="btn btn-default">15</button>
                            <button type="button" ng-class="{'active': itemsOnPage == 20}" 
                                    ng-click="setItemsOnPage(20)" class="btn btn-default">20</button>
                        </div>
                    </li>
                </ul>
                <pagination ng-model="currentPage"
                            total-items="totalCategories()" items-per-page="itemsOnPage" 
                            max-size="pageQtty()" 
                            class="pagination-md pull-left" boundary-links="true">
                </pagination>
            </div>
        </div>
    </div>
</div> 
<!-- /.container-fluid -->