<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Flujo de Efectivo y Analisis de Gastos
                <small></small>
            </h1>
            <!-- ACCOUNT DISPLAYS -->
            <!-- chash account display -->
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-usd fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">$ 1.578,00 {{ cash_account_amount }}</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Cash Operations</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-down"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- ./chash account display -->

                <!-- banck account display-->
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-university fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">$ 8.000,00 {{ bank_account_amount }}</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Bank Account Operations</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-down"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- ./banck account display-->

                <!-- current account display-->
                <div class="col-xs-4 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">$ 5.400,00 {{ current_account_amount }}</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Current Account Operations</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-down"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- ./ current account display-->
            </div>
            <!-- ./ACCOUNT DISPLAYS -->


            <!-- OPERATION TABLE & TASK PANEL -->
            <div class="row">
                <!-- recent operations panel -->
                <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Recent Operations</h3>
                            </div>
                            <div class="panel-body">
                                <!-- recent operations table -->
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                            <td class="col-md-3">Date</td>

                                            <td class="col-md-3">Category</td>
                                            <td class="col-md-3">SubCategory</td>
                                            <td class="col-md-3">Concept</td>

                                            <td class="col-md-3">Shift</td>

                                            <td class="col-md-3">Amount</td>
                                            <td class="col-md-3">Account</td>
                                        </tr>
                                        <tr ng-repeat="operation in operations | orderBy:'date':true ">
                                            <td>
                                                <span type="date"> {{ operation.dateToString }} </span>
                                            </td>
                                            <td>
                                                <span type="text"> {{ operation.category.name }} </span>
                                            </td>
                                            <td>
                                                <span type="text"> {{ operation.subcategory.name }} </span>
                                            </td>
                                            <td>
                                                <span type="text"> {{ operation.concept }} </span>
                                            </td>
                                            <td>
                                                <span type="text"> {{ operation.shift }} </span>
                                            </td>
                                            <td>
                                                <span type="text"> {{ operation.realAmount }} </span>
                                            </td>
                                            <td>
                                                <span type="text"> {{ operation.account.name }} </span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- ./recent operations table -->
                            </div>
                        </div>
                    </div>
                <!-- ./recent operations panel -->
            </div>
            </div>
            <!-- ./OPERATION TABLE & TASK PANEL -->

        </div>
    </div>
</div>
</div>
</div>
<!-- /.row -->

</div>
<!-- /.container-fluid -->
