<div class="container-fluid" ng-app="feag">

    <div class="row">
        <!-- Page Heading -->
        <div class="col-lg-12">
            <h1 class="page-header">
                Invoices <small>ABM</small>
            </h1>
            <ol class="breadcrumb">
                <li> 
                    <i class="fa fa-dashboard"></i> 
                    <a href="index.html"> Home </a>                
                </li>
                <li class="active"> <i class="glyphicon glyphicon-paperclip"></i> Invoices</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <!-- Feedback -->
        <div class="col-md-12">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"> {{alert.msg}} </alert>
        </div>
    </div>

    <div class="row">
        <!-- SEARCH BOX -->
        <div class="col-md-4 pull-right">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Search by description" ng-model="byDescription">
                <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
            </div>
        </div>
        <!-- ./SEARCH BOX -->
    </div>
    
    <div class="row">
        <div class="col-md-12 ">
            <br/>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <tr style="font-weight: bold">
                        <td class="col-md-2"> Vendor</td>
                        <td class="col-md-2"> Doc. Date</td>
                        <td class="col-md-2"> Doc. Number</td>
                        <td class="col-md-4"> Description</td>
                        <td class="col-md-1"> SubTotal</td>
                        <td class="col-md-1"> Total</td>
                    </tr>
                    <tr ng-repeat="invoice in filteredInvoices | orderBy:'id':false | filter:{description:byDescription}">
                        <td>
                            <span> {{ invoice.vendor.name }} </span>
                        </td>
                        <td>
                            <span> {{ invoice.dateToString }} </span>
                        </td>
                        <td>
                            <span> {{ invoice.number }} </span>
                        </td>
                        <td>
                            <span> {{ invoice.description }} </span>
                        </td>
                        <td>
                            <span> {{ invoice.subtotal }} </span>
                        </td>
                        <td>
                            <span> {{ invoice.total }} </span>
                        </td>
                    </tr>
                </table>
                
               <ul class="pager ng-cloak">
                    <li> 
                        <div class="btn-group">
                            <button type="button" ng-class="{'active': itemsOnPage == 2}" 
                                    ng-click="setItemsOnPage(2)" class="btn btn-default">2</button>
                            <button type="button" ng-class="{'active': itemsOnPage == 5}" 
                                    ng-click="setItemsOnPage(5)" class="btn btn-default">5</button>
                            <button type="button" ng-class="{'active': itemsOnPage == 10}" 
                                    ng-click="setItemsOnPage(10)" class="btn btn-default">10</button>
                            <button type="button" ng-class="{'active': itemsOnPage == 15}" 
                                    ng-click="setItemsOnPage(15)" class="btn btn-default">15</button>
                            <button type="button" ng-class="{'active': itemsOnPage == 20}" 
                                    ng-click="setItemsOnPage(20)" class="btn btn-default">20</button>
                        </div>
                    </li>
                </ul>
                
                <pagination ng-model="currentPage"
                    total-items="totalInvoices()" items-per-page="itemsOnPage" 
                    max-size="pageQtty()" 
                    class="pagination-md pull-left" boundary-links="true">
                </pagination>
                
            </div>
        </div>
    </div>
</div>