<div class="container-fluid" ng-app="feag" ng-controller="operationNewCtrl">

    <div class="row">
        <!-- Page Heading -->
        <div class="col-lg-12">
            <h1 class="page-header">
                Operacion <small>alta</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <label>Fecha</label>
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="dt" is-open="opened" 
                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-md-4 form-group">
                </br>
                <label>Turno</label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>1
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">2
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">3
                </label>
            </div>

        </div>
    </div>


</div>