<div class="container-fluid" ng-app="feag">

    <div class="row">
        <!-- Page Heading -->
        <div class="col-lg-12">
            <h1 class="page-header">
                Operacion <small>alta</small>
            </h1>
        </div>
    </div>

    <form id="operationForm" name="operationForm" class="form" novalidate>
        <fieldset>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <legend>Fecha</legend>
                     <small ng-show="!date" class="error" >requiered (*)</small>
                    <p class="input-group">
                        <input type="text" class="form-control" name="date" datepicker-popup="yyyy/MM/dd" 
                               ng-model="date" is-open="opened" required close-text="Close" tabindex="1" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </p>
                </div>
                <div class="form-group col-md-4 col-md-offset-1">
                    <legend>Turno</legend> 
                    <small ng-show="!operation.shift" class="error" >requiered (*)</small>
                    <label class="radio controls" ng-repeat="turno in turnos">
                        <input type="radio" ng-model="operation.shift" name="optionsShift" value="{{turno}}" ng-required="true" tabindex="2">                                   {{turno}}
                    </label>
                </div>  
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <legend>Category</legend>
                    <small ng-show="!categoryId" class="error" >requiered (*)</small>
                    <select required class="form-control" name="categoryName" ng-change="loadSubcategories(categoryId)" 
                            ng-model="categoryId" ng-options="cat.id as cat.name for cat in categories" tabindex="3">
                        <option value="">seleccionar categoria</option>
                    </select>    
                </div>
                <div class="form-group col-md-6">
                    <legend for="subcategoryName">SubCategory</legend>
                    <small ng-show="!operation.subcategory" class="error" >requiered (*)</small>
                    <select required class="form-control" name="optionsSubcategories" 
                            ng-options="subcat.id as subcat.name for subcat in subcategories" ng-model="operation.subcategory" tabindex="4">
                        <option value="">seleccionar subcategoria</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <legend>Concept</legend>
                    <small ng-show="!operation.concept" class="error" >requiered (*)</small>
                    <textarea rows="3" type="text" class="form-control" placeholder="Ingresar concepto" 
                              ng-model="operation.concept" tabindex="5" required name="description"></textarea>    
                </div>
                <div class="form-group col-md-3">
                    <legend>Cuenta</legend>
                    <small ng-show="!operation.accountType" class="error" >requiered (*)</small>
                    <label class="radio controls" ng-repeat="cuenta in cuentas">
                        <label>
                            <input required type="radio" name="optionsAccounts" ng-click="selectedType(cuenta)"
                                   ng-model="operation.accountType" value="{{cuenta}}" tabindex="6">{{cuenta}}
                        </label>
                </div>
                <div class="form-group col-md-3" ng-show="showBankOptions">
                    <legend>Tarjeta</legend>
                    <small ng-show="!operation.bankType" class="error" >requiered (*)</small>
                    <label class="radio controls" ng-repeat="tarjeta in tarjetas">
                        <label>
                           <input type="radio" name="optionsBank" id="{{tarjeta}" ng-model="operation.bankType" 
                                   value="{{tarjeta}}" tabindex="7">{{tarjeta}}
                        </label>
                </div>
            </div>
        </div> 
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <legend>Tipo de operacion</legend>
                    <small ng-show="!operation.type" class="error" >requiered (*)</small>
                    <label class="radio controls" ng-repeat="pm in paymentsMethods">
                        <label>
                           <input required type="radio" name="optionsType"
                                   ng-model="operation.type" value="{{pm}}" tabindex="8">{{pm}}
                        </label>
                </div>
                <div class="form-group col-md-6">
                    <legend>Monto</legend>
                    <small ng-show="!operation.amount" class="error" >requiered (*)</small>
                    <input name="monto" type="text" placeholder="Ingrese monto" ng-model="operation.amount"
                           ng-requiered="true" ng-currency min="0.01" tabindex="9">
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"> {{alert.msg}} </alert>
                </br>
                </br> 
                </div>

                <!-- BOTONES -->
                <div class="col-md-3 col-md-offset-3" >
                    <button ng-disabled="operationForm.$invalid || (operation.amount == null)" ng-click="save()" type="submit" 
                            class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn" ng-click="closeModal()" >Cancel</button>
                </div>
               
            </div>
        </div>
        </fieldset>
    </form>
    </br>
    </br>          
</div>