<div class="container-fluid" ng-app="feag" ng-controller="paymentsCtrl">

    <div class="row">
        <!-- Page Heading -->
        <div class="col-lg-12">
            <h1 class="page-header">
                Payments <small>ABM</small>
            </h1>
            <ol class="breadcrumb">
                <li> 
                    <i class="fa fa-dashboard"></i> 
                    <a href="index.html"> Home</a>                
                </li>
                <li class="active"> <i class="fa fa-file"></i> Payments</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <!-- Feedback -->
        <div class="col-md-12">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"> {{alert.msg}} </alert>
        </div>
    </div>

    <div class="row">
        <!-- Page Activity -->
        <!-- new payment button -->
        <div class="col-md-4">       
            <!-- button to show form -->
            <button type="button" class="btn btn-success" 
                    ng-click="editableForm.$show() ; resetNewCategoryName()" popover="Process new payment..." 
                    popover-trigger="mouseenter" popover-placement="right" 
                    ng-show="!editableForm.$visible"> <i class="fa fa-plus"></i>
            </button>
        </div>
        
        <!-- SEARCH BOX -->
        <!--<div class="col-md-4">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Search by vendor name" ng-model="byName">
                <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
            </div>
        </div>-->
        <!-- ./SEARCH BOX -->
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <br/>


            <button ng-click="paymentsTable.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
            <button ng-click="paymentsTable.filter({})" class="btn btn-default pull-right">Clear filter</button>
            <p><strong>Sorting:</strong> {{paymentsTable.sorting()|json}}
            <p><strong>Filter:</strong> {{paymentsTable.filter()|json}}

            <table ng-table="paymentsTable" show-filter="true" class="table table-condensed" >
                <tr ng-repeat="payment in payments">
                    <td data-title="'Date'" sortable="'dateToString'" filter="{ 'dateToString': 'text' }" 
                        class="col-md-2 text-center"> {{payment.dateToString}}
                    </td>
                    <td data-title="'Vendor'" sortable="'vendorName'" filter="{ 'vendorName': 'text' }" 
                        class="col-md-2 text-center"> {{payment.vendorName}}
                    </td>
                    <td data-title="'Invoice N°'" sortable="'invoiceNumber'" filter="{ 'invoiceNumber': 'text' }"
                        class="col-md-2 text-right"> {{payment.invoiceNumber}}
                    </td>
                    <td data-title="'Concept'" sortable="'invoiceDescription'" filter="{ 'invoiceDescription': 'text' }" 
                        class="col-md-4 text-center"> {{payment.invoiceDescription}}
                    </td>
                    <td data-title="'Total'" sortable="'total'" filter="{ 'total': 'text' }" 
                        class="col-md- text-right"> {{payment.total | currency}}
                    </td>
                    <td data-title="'Actions'" class="col-md-2">
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button class="btn btn-primary" ng-click="rowform.$show()">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                            <button class="btn btn-danger" ng-click="launchConfirmDeleteDialog(payment.id)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        
        <div>
            <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
            <button ng-click="tableParams.filter({})" class="btn btn-default pull-right">Clear filter</button>
            <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}
            <p><strong>Filter:</strong> {{tableParams.filter()|json}}


            <table ng-table="tableParams" show-filter="true" class="table">
                <tr ng-repeat="user in $data">
                    <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">
                        {{user.name}}
                    </td>
                    <td data-title="'Age'" sortable="'age'" filter="{ 'age': 'text' }">
                        {{user.age}}
                    </td>
                    <td data-title="'Eyes Colour'" sortable="'eyes'" filter="{ 'eyes': 'text' }">
                        {{user.eyes}}
                    </td>
                    <td data-title="'Actions'">
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button class="btn btn-primary" ng-click="rowform.$show()">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                            <button class="btn btn-danger" ng-click="launchConfirmDeleteDialog(category.id)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>
</div>
<!-- /.container-fluid -->