<div class="container-fluid" ng-app="feag">

    <div class="row">
        <!-- Page Heading -->
        <div class="col-lg-12">
            <h1 class="page-header">
                Pago <small>alta</small>
            </h1>
        </div>
    </div>

    <form id="paymentForm" name="paymentForm" class="form" novalidate>
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <legend>Fecha</legend>
                        <small ng-show="!date" class="error" >requiered (*)</small>
                        <p class="input-group">
                            <input type="text" class="form-control" name="date" datepicker-popup="yyyy/MM/dd" 
                                   ng-model="date" is-open="opened" required close-text="Close" tabindex="1" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group col-md-4">
                        <legend>Cuenta</legend>
                        <small ng-show="!payment.accountType" class="error" >requiered (*)</small>
                        <label class="radio controls" ng-repeat="cuenta in cuentas">
                            <label>
                                <input required type="radio" name="optionsAccounts" ng-click="selectedType(cuenta)"
                                       ng-model="payment.accountType" value="{{cuenta}}" tabindex="2">{{cuenta}}
                            </label>
                    </div>
                    <div class="form-group col-md-4" ng-show="showBankOptions">
                        <legend>Tarjeta</legend>
                        <small ng-show="!payment.cardType" class="error" >requiered (*)</small>
                        <label class="radio controls" ng-repeat="tarjeta in tarjetas">
                            <label>
                                <input type="radio" name="optionsBank" id="{{tarjeta}" ng-model="payment.cardType" 
                                       value="{{tarjeta}}" tabindex="3">{{tarjeta}}
                            </label>
                    </div>
                </div>
            </div> 

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <legend>Turno</legend> 
                        <small ng-show="!payment.shift" class="error" >requiered (*)</small>
                        <label class="radio controls" ng-repeat="turno in turnos">
                            <input type="radio" ng-model="payment.shift" name="optionsShift" value="{{turno}}" ng-required="true" tabindex="4">                                   {{turno}}
                        </label>
                    </div>  
                    <div class="form-group col-md-4">
                        <legend>SubCategoria de compras</legend>
                        <small ng-show="!payment.subcategory" class="error" >requiered (*)</small>
                        <select required class="form-control" name="optionsSubcategories" 
                                ng-options="subcat.id as subcat.name for subcat in subcategories" ng-model="payment.subcategory" tabindex="5">
                            <option value="">seleccionar subcategoria</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <legend>Concepto</legend>
                        <small ng-show="!payment.concept" class="error" >requiered (*)</small>
                        <textarea rows="3" type="text" class="form-control" placeholder="Ingresar concepto" 
                                  ng-model="payment.concept" tabindex="6" required name="description"></textarea>    
                    </div>
                </div>
            </div>
                    
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <legend>Tipo de Factura</legend> 
                        <small ng-show="!payment.invoiceType" class="error" >requiered (*)</small>
                        <label class="radio-inline controls" ng-repeat="factura in facturas">
                            <input type="radio" ng-model="payment.invoiceType" name="optionsInvoiceType" value="{{factura}}" 
                                   ng-required="true" tabindex="7" ng-click="selectedInvoice(factura)"> {{factura}}
                        </label>
                    </div>  
                    <div class="form-group col-md-4 ">
                        <legend>Proveedor</legend>
                        <small ng-show="!payment.vendorId" class="error" >requiered (*)</small>
                        <select required class="form-control" name="optionsSubcategories" 
                                ng-options="vendor.id as vendor.name for vendor in vendors" ng-model="payment.vendorId" 
                                ng-change="loadCuit(payment.vendorId)" tabindex="8">
                            <option value="">seleccionar proveedor</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4 ">
                        <legend>CUIT</legend>
                        <input ng-disabled="true" type="text" id="vendorTaxCode" ng-model="payment.vendorTaxCode">
                    </div>
                </div>
            </div>        
            <div class="row">
                <div class="col-md-12">
                    
                    <div class="form-group col-md-4" ng-show="showIIBBOptions">
                        <legend>IIBB</legend>
                        <input type="checkbox" class="checkbox"
                               id="payment.hasIIBB" ng-model="payment.hasIIBB"  tabindex="9" >
                    </div>
                    
                    <div class="form-group col-md-4 ">
                        <small ng-show="!payment.invoiceNumber" class="error" >requiered (*)</small>
                        <legend>Numero de factura</legend>
                        <input type="text" id="invoiceNumber" ng-model="payment.invoiceNumber" placeholder="Ingresar numero de factura" 
                               tabindex="10" >
                    </div>
                    <div class="form-group col-md-4">
                            <legend>Importe</legend>
                            <small ng-show="!payment.amount" class="error" >requiered (*)</small>
                            <input name="monto" type="text" placeholder="Ingrese monto" ng-model="payment.amount"
                                   ng-requiered="true" ng-currency min="0.01" tabindex="11" 
                                   ng-class="{ incoming: payment.type == 'Incoming' , outcoming: payment.type == 'Outcoming' }">
                   </div>
                </div>
            </div>        
        </fieldset>
    </form>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 ">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"> {{alert.msg}} </alert>
            </div>
            <!-- BOTONES -->
            <div class="col-md-4 col-md-offset-4" >
                <button ng-disabled="paymentForm.$invalid || (payment.amount == null)" ng-click="save()" type="submit" 
                        class="btn btn-primary" tabindex="12">Guardar</button>
                <button type="button" class="btn" ng-click="closeModal()" tabindex="13" >Cancel</button>
            </div>	
            </br>
            </br>
        </div>  
    </div>      
</div>