<div class="container-fluid" ng-app="feag" ng-controller="subcategoriesCtrl">

    <div class="row">
        <!-- Page Heading -->
        <div class="col-lg-12">
            <h1 class="page-header">
                SubCategories <small>ABM</small>
            </h1>
            <ol class="breadcrumb">
                <li> 
                    <i class="fa fa-dashboard"></i> 
                    <a href="index.html"> Home </a>            
                </li>
                <li>
                    <i class="fa fa-file"></i>
                    <a ng-href="#/categoriesCRUD"> Categories</a>  
                </li>
                <li class="active">
                    <i class="fa fa-file"> SubCategories from {{categoryName}}</i>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <!-- Feedback -->
        <div class="col-md-12">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}"
                   close="closeAlert($index)"> {{alert.msg}} </alert>
        </div>
    </div>

    <div class="row">
        <!-- Page Activity -->
        <!-- new subcategory button -->
        <div class="col-md-4">       
            <!--button to show form-->
            <button type="button" class="btn btn-success" 
                    ng-click="editableForm.$show() ; resetNewSubCategoryName()" popover="Add a new sub category..." 
                    popover-trigger="mouseenter" popover-placement="right" 
                    ng-show="!editableForm.$visible"> <i class="fa fa-plus"></i>
            </button>
        </div>
        <!-- new subcategory form -->
        <div class="col-md-4">
            <br/>
            <form editable-form name="editableForm" onaftersave="saveSubCategory($data)">
                <!-- NEW CATEGORY NAME INPUT -->
                <span editable-text="newSubCategory.name" e-name="name" 
                      ng-model="newSubCategory" onbeforesave="checkCreationName($data)"
                      e-required e-placeholder="Enter a name">
                </span>
                <!-- SUBMIT - CANCEL BUTTONS -->
                <span ng-show="editableForm.$visible">
                    <button type="submit" class="btn btn-primary" 
                            ng-disabled="editableForm.$waiting">
                        <i class="fa fa-floppy-o"></i>
                    </button>
                    <button type="button" class="btn btn-default" 
                            ng-disabled="editableForm.$waiting" 
                            ng-click="editableForm.$cancel()">
                        <i class="fa fa-times"></i>
                    </button>
                </span>
                <!-- ./SUBMIT - CANCEL BUTTONS -->
            </form>
        </div>
        <!-- SEARCH BOX -->
        <div class="col-md-4">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Search by name" ng-model="byName">
                <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
            </div>
        </div>
        <!-- ./SEARCH BOX -->
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <br/>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <tr style="font-weight: bold">
                        <td class="col-md-3"> Name</td>
                        <td class="col-md-3"> Actions</td>
                    </tr>
                    <tr ng-repeat="subcategory in subcategories | orderBy:'id':false | filter:byName">
                        <td>
                            <!-- editable category name (text with validation) -->
                            <span editable-text="subcategory.name" e-name="name" 
                                  e-form="rowform" onbeforesave="checkEditionName($data)" e-required> {{ subcategory.name }} </span>
                        </td>
                        <td style="white-space: nowrap">
                            <!-- form -->
                            <form editable-form name="rowform" onbeforesave="updateSubCategory($data, subcategory.id)" 
                                  ng-show="rowform.$visible" class="form-buttons form-inline">
                                <button type="submit" ng-disabled="rowform.$waiting" 
                                        class="btn btn-primary"> save </button>
                                <button type="button" ng-disabled="rowform.$waiting" 
                                        ng-click="rowform.$cancel()" class="btn btn-default"> cancel </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary" ng-click="rowform.$show()">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                                <button class="btn btn-danger" ng-click="launchConfirmDeleteDialog(subcategory.id)">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div> 
<!-- /.container-fluid -->